<ion-header>
  <ion-toolbar>
    <ion-title>
      Restalli App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item href="#">
		<ion-label floating>URL</ion-label>
		<ion-input type="url" [(ngModel)]="url"></ion-input>
	</ion-item>

	<button ion-button block clear (click)="openWebpage(url)">OpenPage</button>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>
